@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
	margin : 0;
	padding : 0;
	font-family: 'Roboto', sans-serif;
	background-color: #FAFAFF;
}

h1{
	color: #1C1C1C;
	margin-top: 30px;
	text-align: center;
}

.center{
	background-color: #F7B267;
	width: 80%;
    height: 60%;
    margin: auto;
    display: grid;
    border-radius: 10px;
    box-shadow: 6px 6px 2px 1px rgba(71, 71, 248, 0.2);
}

.both{
	display: flex;
    justify-content: space-around;
    margin: auto;
}

label{
	display: inline-block;
	text-align: initial;
	width: 50%;
}

input { 
 	display:inline-block;
 	width: 50%; 
}
 
 .leftForm{
 	display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
 }
 
 .rightForm{
 	display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
 }
 
.champ{
	
	margin: 5px;
}

.erreur{
	color:red;
}

.buttons{
	text-align: center;
}
 
button{
  background-color: #008080;
  border: none;
  font-size: 15px;
  color: #FFFFFF;
  padding: 15px;
  width: 80px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 3px 5px black;
  margin: 10px;
} 

/**style login**/

.form-login{
	border: 1px solid black;
	height: 70vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content : center;
}

.btn-connexion{
	width: 100px;
	align-items: center;
	justify-content : center;
}

.big-container-login{
		align-items: center;
	justify-content : center;

	border: 1px solid black;
}

.form-box{
	border: 1px solid black;
}



