@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
	margin : 0;
	padding : 0;
	font-family: 'Roboto', sans-serif;
	background-color: #FAFAFF;
}



.articlesContainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
 
}

.article{
	display: flex;
	justify-content: space-around;
	border: 2px solid rgb(249 175 92);
	border-radius: 5px;
    background-color: rgb(247 199 146);
    box-shadow: 0px 0px 20px 1px rgb(149 144 140);
}


.imageArticle{
	width: 130px;
    height: 130px;
}

.texteContainer{
	display: table;
}

.texteArticle{
	display: table-cell;
    vertical-align: middle;
}





